<div class="subtitle"><%= answer_form_heading(answer) %></div>
<%= form_with model: [:admin, answer], url: url, class: 'form', local: true do |form| %>
  <div class="field">
    <%= form.label :body, class: 'label' %>
    <div class="control">
      <%= form.text_field :body, class: 'input' %>
      <% if answer.errors[:body] %>
        <% answer.errors[:body].each do |message| %>
          <p class="help is-danger"><%= message %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-link' %>
    </div>
  </div>
<% end %>
