<div class="form">
  <%= form_heading(question) %>
  <%= form_with model: [:admin, test, question], url: url, class: 'form', local: true do |form| %>
    <div class="field">
      <%= form.label :body, class: 'label' %>
      <div class="control">
        <%= form.text_field :body, class: 'input' %>
        <%= form_error_field_prompt(question, :body) %>
      </div>
    </div>
    <div class="control">
      <%= form.submit class: 'button is-link' %>
    </div>
  <% end %>
</div>
