<li class="card">
  <div class="card-content">
    <h2 class="card-header-title"><%= Test.human_attribute_name(:title) %>: <%= test.title %></h2>
    <div class="card-content">
      <div class="columns">
        <span><%= Test.human_attribute_name(:level) %>: <%= levelize(test.level) %></span>
      </div>
      <div class="columns">
        <span><%= t('count') %>: <%= test.questions.count %></span>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to t('crud.show'), admin_test_path(test), class: "button is-link is-light" %>
      <%= link_to t('crud.destroy'), admin_test_path(test), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-link is-light"  %>
      <%= publish_link(test) %>
    </div>
  </div>
</li>
