<li class="test_card">
  <h2 class="test_card__title"><%= Test.human_attribute_name(:title) %>: <%= test.title %></h2>
  <span class="test_card__level"><%= Test.human_attribute_name(:level) %>: <%= levelize(test.level) %></span>
  <span class="test_card__count_questions"><%= t('count') %>: <%= test.questions.count %></span>
  <%= link_to t('test.actions.shown'), admin_test_path(test), class: "test_card__link link" %>
  <%= link_to t('test.actions.destroy'), admin_test_path(test), method: :delete, data: {confirm: "Are you sure?"}, class: "test_card__link link"  %>
</li>
