<li class="card column">
  <div class="card-content">
    <h2 class="card-header-title"><%= Test.human_attribute_name(:title) %>: <%= test.title %></h2>
    <div class="card-content">
      <div class="columns">
        <span><%= Test.human_attribute_name(:level) %>: <%= levelize(test.level) %></span>
      </div>
      <div class="columns">
        <span><%= t('count') %>: <%= test.questions.count %></span>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to_take_test(test) %>
    </div>
  </div>
</li>
